---
name: CI
on:  # yamllint disable-line rule:truthy
  - workflow_dispatch
  - push
  - pull_request
jobs:
  omnilint:
    uses: lpenz/omnilint/.github/workflows/omnilint.yml@v0.5.2
  rust:
    uses: lpenz/ghworkflow-rust/.github/workflows/rust.yml@v0.26.4
    with:
      coveralls: true
      deb: true
      rpm: true
      publish_cratesio: true
      publish_github_release: true
      publish_github_release_files: |
        target/release/stdecor target/release/stdecor.1
      publish_packagecloud_repository_deb: |
        ["debian/debian/bookworm",
         "ubuntu/ubuntu/noble"]
      publish_packagecloud_repository_rpm: |
        ["rpm/rpm_any/rpm_any"]
    secrets:
      CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      PACKAGECLOUD_TOKEN: ${{ secrets.PACKAGECLOUD_TOKEN }}
  nix:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
      - uses: cachix/install-nix-action@v31.6.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - run: nix build
      - run: nix flake check
  publish-cachix:
    needs: [omnilint, rust, nix]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0
      - id: version
        uses: docker://lpenz/ghaction-version-gen:0.17.3
      - uses: cachix/install-nix-action@v31.6.1
        with:
          nix_path: nixpkgs=channel:nixos-unstable
      - uses: cachix/cachix-action@v16
        with:
          skipPush: ${{ steps.version.outputs.version_commit == '' }}
          name: lpenz
          authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
      - run: nix build
      - run: nix flake check
